<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/login.css" />
  </head>
  <body>
    <div class="login">
      <div>ID</div>
      <input type="email" placeholder="이메일을 입력해주세요" name="id" />
      <div class="1" onclick="">중복확인</div>
    </div>
    <div class="login">
      <div>이름</div>
      <input type="text" placeholder="이름을 입력해주세요" name="name" />
    </div>
    <div class="login">
      <div>비밀번호</div>
      <input
        type="password"
        placeholder="비밀번호를 입력해주세요"
        name="pass"
      />
    </div>
    <div class="login">
      <div>비밀번호 재확인</div>
      <input
        type="password"
        placeholder="비밀번호를 확인해주세요"
        name="passCheck"
      />
    </div>
  </body>
</html>
