<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- 싱글 -->
    <h1>파일 올리기</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="files" /><br />
      <input type="text" name="title" />
      <button type="submit">업로드</button>
    </form>
    <h3>파일 한개</h3>
    <div class="file1"></div>
  </body>
  <script></script>
</html>
