<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/search.css" />
  </head>
  <body>
    <div class="container">
      <a href="/">홈으로 이동</a>
      <h3>회원 정보 보기</h3>

      <!-- 검색된 데이터 테이블 -->
      <table border="1" id="userTable">
        <thead>
          <tr>
            <th>이름</th>
            <th>나이</th>
            <th>이메일</th>
          </tr>
        </thead>
        <tbody class="tbody_table"></tbody>
      </table>
    </div>
  </body>
  <script src="/js/search.js"></script>
</html>
