<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/userlist.css" />
  </head>
  <body>
    <div class="container">
      <a href="/">홈으로 이동</a>
      <h3>회원 정보 목록</h3>
      <table border="1" id="userTable">
        <thead>
          <tr>
            <th>이름</th>
            <th>나이</th>
            <th>이메일</th>
          </tr>
        </thead>
        <tbody class="tbody_table">
          <!-- 데이터가 이곳에 동적으로 추가됩니다 -->
        </tbody>
      </table>
    </div>
  </body>

  <script src="/js/userlist.js"></script>
</html>
